/* Define CSS variables for consistent styling and easier maintenance */
:root {
  --background-color: #eef0f4;
  --accent-color: #432000;
  --font-family: "Rubik", sans-serif;
  --font-size: 1.25rem;
}

/* Base styles for HTML and body */
html,
body {
  background-color: var(--background-color);
  color: var(--accent-color);
  font-family: var(--font-family);
  line-height: 1.6;
  user-select: none;
}

/* Layout - Styles for the main container */
.container {
  display: flex;
  flex-direction: column;
  margin: 1.875em auto;
  max-width: 320px;
}

/* Module - Responsive styling for images */
img {
  margin: 0 auto;
  max-width: 100%;
  width: 50%;
}

/* Module - Styles for input fields */
input {
  background-color: #dce1eb;
  border: 0;
  border-radius: 8px;
  color: var(--accent-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  margin: 0.625em 0;
  padding: 0.938em;
  text-align: center;
}

/* Module - Styles for buttons */
button {
  background-color: #ac485a;
  border: 0;
  border-radius: 8px;
  color: #fdfdfd;
  font-family: var(--font-family);
  font-size: var(--font-size);
  padding: 0.938em;
  text-align: center;
}

/* State - Additional styles for specific button with id "add-button" */
#add-button {
  margin-bottom: 1em;
}

/* State - Hover effect for buttons */
button:hover {
  background-color: var(--accent-color);
  cursor: pointer;
}

/* Module - Styles for unordered list */
ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625em;
  list-style-type: none;
  padding: 0;
}

/* Module - Styles for list items */
ul li {
  background-color: #fffdf8;
  border-radius: 8px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  flex-grow: 1;
  font-size: var(--font-size);
  padding: 0.938em;
  text-align: center;
}

/* State - Hover effect for list items */
ul li:hover {
  background-color: #ffecc7;
  cursor: pointer;
}
